<% content_for :head do %>
  <%= stylesheet_link_tag "static/how_to_use", "data-turbo-track": "dynamic" %>
<% end %>

<%= render "how_to_use_header" %>


<div class="how-to-use-container">
  <h1>使い方ページ</h1>
  <div class="how-to-use-card">
  <p>当アプリケーションは重度訪問介護向け業務効率化アプリケーションです</p>
  <p>各機能の使い方については、上記のナビゲーションから選択してください。</p>
  <p>全ての機能でスマートフォン、タブレット、PCからご利用いただけます。</p>
  <p>ご不明な点がございましたら、下記までお問い合わせください。</p>

  <p>お問い合わせ先: kaigo2013.ryuuiti@gmail.com</p>
  </div>
</div>
