<% content_for :head do %>
  <%= stylesheet_link_tag "static/terms", "data-turbo-track": "dynamic" %>
<% end %>

<div class="terms-container">

  <h1>プライバシーポリシー</h1>

  <p>加藤竜一（以下，「運営者」といいます。）は，本ウェブサイト上で提供するサービス「ケアシフト」（以下，「本サービス」といいます。）における，ユーザーの個人情報の取扱いについて，以下のとおりプライバシーポリシー（以下，「本ポリシー」といいます。）を定めます。</p>

  <h2>第1条（個人情報）</h2>
  <p>「個人情報」とは，個人情報保護法にいう「個人情報」を指すものとし，生存する個人に関する情報であって，当該情報に含まれる氏名，生年月日，住所，電話番号，連絡先その他の記述等により特定の個人を識別できる情報を指します。</p>

  <h2>第2条（個人情報の収集方法）</h2>
  <ol>
    <li>運営者は，ユーザーが利用登録をする際に氏名，メールアドレス，パスワード，事業所等の情報をお尋ねすることがあります。</li>
    <li>有料プランをご利用の場合，決済のためにクレジットカード情報をお尋ねしますが，これらの情報は決済代行会社（Stripe等）によって管理され，運営者のサーバーには一切保存されません。</li>
    <li>運営者は，ユーザーがGoogleアカウントなどの外部サービスと連携して本サービスを利用する場合，当該外部サービスの運営者が所有するユーザーID，メールアドレス等の情報を収集することがあります。</li>
    <li>本サービスにおいて，ユーザーがシフト作成等の目的で入力するスタッフ等の第三者の個人情報については，ユーザーが本サービスを利用する範囲内でのみ保存・管理され，運営者が独自の目的で利用することはありません。</li>
  </ol>

  <h2>第3条（個人情報を収集・利用する目的）</h2>
  <p>運営者が個人情報を収集・利用する目的は，以下のとおりです。</p>
  <ol>
    <li>本サービスの提供・運営のため</li>
    <li>有料サービスにおける利用料金の請求および決済処理のため</li>
    <li>ユーザーからのお問い合わせに回答するため（本人確認を行うことを含む）</li>
    <li>メンテナンス，重要なお知らせなど必要に応じたご連絡のため</li>
    <li>利用規約に違反したユーザーや，不正・不当な目的でサービスを利用しようとするユーザーの特定をし，ご利用をお断りするため</li>
    <li>上記の利用目的に付随する目的</li>
  </ol>

  <h2>第4条（個人情報の第三者提供および委託）</h2>
  <ol>
    <li>運営者は，次に掲げる場合を除いて，あらかじめユーザーの同意を得ることなく，第三者に個人情報を提供することはありません。ただし，個人情報保護法その他の法令で認められる場合を除きます。
      <ol type="a">
        <li>人の生命，身体または財産の保護のために必要がある場合であって，本人の同意を得ることが困難であるとき</li>
        <li>公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって，本人の同意を得ることが困難であるとき</li>
        <li>国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって，本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき</li>
      </ol>
    </li>
    <li>前項の定めにかかわらず，次に掲げる場合には，当該情報の提供先は第三者に該当しないものとします。
      <ol type="a">
        <li>運営者が利用目的の達成に必要な範囲内において個人情報の取扱いの全部または一部を委託する場合（サーバーホスティング会社，決済代行会社への委託を含みます）</li>
        <li>合併その他の事由による事業の承継に伴って個人情報が提供される場合</li>
      </ol>
    </li>
  </ol>

  <h2>第5条（外部ツールの利用について）</h2>
  <ol>
    <li>
      <strong>Google Analyticsについて</strong><br>
      当サイトでは，Googleによるアクセス解析ツール「Google Analytics」を利用しています。このGoogle Analyticsはトラフィックデータの収集のためにCookieを使用しています。このトラフィックデータは匿名で収集されており，個人を特定するものではありません。この機能はCookieを無効にすることで収集を拒否することが出来ますので，お使いのブラウザの設定をご確認ください。<br>
      この規約に関して，詳しくは<a href="https://marketingplatform.google.com/about/analytics/terms/jp/" target="_blank" rel="noopener noreferrer">Google アナリティクス利用規約</a>をご確認ください。
    </li>
    <li>
      <strong>Google Maps APIについて</strong><br>
      当サイトでは，地図情報の表示等のために「Google Maps API」を利用しています。Google Maps APIの利用により，Google社のプライバシーポリシーに従い，ユーザーの位置情報等のデータが収集・利用される場合があります。
    </li>
  </ol>

  <h2>第6条（お問い合わせ窓口）</h2>
  <p>本ポリシーに関するお問い合わせは，下記の窓口までお願いいたします。</p>
  <p>
    運営者：加藤竜一<br>
    Eメールアドレス：kaigo2013.ryuuiti@gmail.com
  </p>

  <p class="date">以上<br>
  2025年12月2日 制定</p>
</div>