<% content_for :head do %>
  <%= stylesheet_link_tag "static/terms", "data-turbo-track": "dynamic" %>
<% end %>

<div class="terms-container">
  <h1>特定商取引法に基づく表記</h1>

  <table class="specified-commercial-transactions-table">
    <tbody>
      <tr>
        <th>販売業者</th>
        <td>ケアシフト 加藤竜一</td>
      </tr>
      <tr>
        <th>運営統括責任者</th>
        <td>加藤竜一</td>
      </tr>
      <tr>
        <th>所在地</th>
        <td>〒254-0085 神奈川県茅ケ崎市矢畑1045-9</td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td>080-3492-8990<br>※受付時間：平日 10:00〜18:00（土日祝を除く）</td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td>kaigo2013.ryuuiti@gmail.com</td>
      </tr>
      <tr>
        <th>販売価格</th>
        <td>月額プラン：ユーザー数×300円（税込）</td>
      </tr>
      <tr>
        <th>商品代金以外の必要料金</th>
        <td>・消費税（表示価格は税込です）<br>・インターネット接続料金、通信料金等はお客様の負担となります。</td>
      </tr>
      <tr>
        <th>お支払方法</th>
        <td>クレジットカード決済（外部決算サービスStripeを使用しております）<br>※ご利用可能なカード：Visa / Mastercard / JCB / アメリカン・エキスプレス / eftpos オーストラリア / ディスカバーとダイナースクラブ / 中国銀聯 (CUP)</td>
      </tr>
      <tr>
        <th>お支払時期</th>
        <td>毎月:申込日と同日に自動的に決済されます。</td>
      </tr>
      <tr>
        <th>商品の引渡時期<br>（サービスの提供時期）</th>
        <td>クレジットカード登録完了後、直ちにご利用いただけます。</td>
      </tr>
      <tr>
        <th>返品・交換・キャンセルについて</th>
        <td>
          <strong>返品・交換：</strong><br>サービスの性質上、決済完了後の返品・交換（返金）はお受けしておりません。<br>
          <br>
          <strong>解約（キャンセル）：</strong><br>企業ページの設定画面より、いつでも解約手続きが可能です。次回更新日の前日までに解約手続きを行っていただければ、次回の請求は発生しません。<br>
          ※日割り計算による返金は行われておりません。更新日まではサービスをご利用いただけます。
        </td>
      </tr>
      <tr>
        <th>推奨動作環境</th>
        <td>
          <strong>OS：</strong>Windows 10以降 / macOS 最新版 / iOS 最新版 / Android 最新版<br>
          <strong>ブラウザ：</strong>Google Chrome 最新版 / Safari 最新版 / Microsoft Edge 最新版<br>
          ※JavaScriptおよびCookieが有効な状態でご利用ください。
        </td>
      </tr>
    </tbody>
  </table>

  <p class="date">以上<br>2025年12月12日 制定</p>
</div>
