<div id="<%= dom_id user_client %>">

  <%= button_to user_client.user.name, team_client_user_client_path(user_client.client.team, user_client.client, user_client), method: :delete, class: "flex-btn" %>

</div>
